
<div class="task py-2 {{ completed }} prio-{{#toLower}}{{ task.prio }}{{/toLower}}">
  <div class="task-complete mr-3 float-left">
    <form method="post" action="/complete/{{ task._id}}">
      <button class="btn toggle-complete rounded-circle" type="submit"></button>
    </form>
  </div>
  <div class="task-body ml-5">
    <div class="task-text">
      {{ task.task }}
    </div>
    <div class="task-footer small clearfix">
      <a href="/update/{{ task._id }}" class="btn btn-sm btn-link float-left">Edit</a>
      <form class="float-left" method="post" action="/delete/{{ task._id}}">
        <button class="btn btn-sm btn-link" type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>
